$bgColor = #086

// tft order 每行的beijing颜色

$status0 = #3D97F4 // 未知
$status1 = #BFDDA5 // （停机）待生产签核
$status2 = #599DDC // （停机）待责任工程签核
$status3 = #FB0D04 // （停机）拒签
$status4 = #0DF109 // （停机）完成
$status5 = #E5E22B // （复机）待QC签核
$status6 = #BFDDA5 // （复机）待生产签核
$status7 = #FB0D04 // （复机）拒签
$status8 = #0DF109 // （部分复机）完成
$status9 = #0DF109 // （复机）完成
